Extracting data from website using BeautifulSoup library and creating a DataFrame

In [1]:
import requests
from bs4 import BeautifulSoup

In [3]:
page = requests.get('https://www.worldometers.info/gdp/gdp-per-capita/')

In [4]:
soup = BeautifulSoup(page.text,'html.parser')

In [5]:
head = soup.find('div',{'class':'content-inner'}).find('table',{'id':'example2'}).find('thead').find_all('th')

In [5]:
header = []
for i in range(0,len(head)):
    Header=head[i].contents[0]
    header.append(Header)

In [6]:
Country_names = soup.find('div',{'class':'content-inner'}).find('table',{'id':'example2'}).find('tbody').find_all('a')

In [7]:
country = []
for i in range(0,len(Country_names)):
    Country=Country_names[i].contents[0]
    country.append(Country)

In [8]:
gdp_ppp=[]
gdp_nominal=[]
vs_world_ppp=[]
for i in range(0,len(country)):
    x = soup.find('div',{'class':'content-inner'}).find('table',{'id':'example2'}).find('tbody').find_all('tr')[i]
    GDP_PPP=x.contents[5].contents[0]
    gdp_ppp.append(GDP_PPP)
    GDP_nominal=x.contents[7].contents[0]
    gdp_nominal.append(GDP_nominal)
    VS_World_PPP=x.contents[9].contents[0]
    vs_world_ppp.append(VS_World_PPP)

In [9]:
import pandas as pd

In [10]:
Table = pd.DataFrame({header[1]:country,header[2]:gdp_ppp,header[3]:gdp_nominal,header[4]:vs_world_ppp})

In [11]:
Table

                      Country  GDP (PPP)  GDP (nominal) vs. World PPP
0                       Qatar   $128,647        $61,264          752%
1                       Macao   $115,367        $80,890          675%
2                  Luxembourg   $107,641       $105,280          629%
3                   Singapore    $94,105        $56,746          550%
4                     Brunei     $79,003        $28,572          462%
..                        ...         ...           ...            ...
185  Northern Mariana Islands       N.A.        $28,164          N.A.
186                   Andorra       N.A.        $39,128          N.A.
187                      Guam       N.A.        $35,665          N.A.
188            American Samoa       N.A.        $11,399          N.A.
189                      Cuba       N.A.         $8,541          N.A.

[190 rows x 4 columns]